/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* 
-----------Color scheeme---------
Primary: Teal ( #20C997 )
Secondary: Light Gray ( #E0E0E0 )
Accent: Yellow ( #FFC107 )
Background: White ( #FFFFFF ) 
---------------------------------
*/


html {
  font-family: Roboto;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid #E0E0E0;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FFC107;
  text-shadow: 3px 3px 1px #E0E0E0;
}


h1 {
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  inline-size: -webkit-fill-available;
  display: block;
  margin: 0 auto;
}

#top-menu-bar {
  margin: 0;
  padding: 10px 10px;
  display: block;
  background-color: #20C997;
}

#top-menu-bar ul {
  display: flex;
  justify-content: space-around;
}